################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/UrlShortnerAPI/.vs
/backend/UrlShortnerAPI/BusinessLogic/obj
/backend/UrlShortnerAPI/Data/obj
/backend/UrlShortnerAPI/Entities/obj
/backend/UrlShortnerAPI/UrlShortnerAPI/obj
/backend/UrlShortnerAPI/BusinessLogic/bin
/backend/UrlShortnerAPI/Data/bin
/backend/UrlShortnerAPI/Entities/bin
/backend/UrlShortnerAPI/UrlShortnerAPI/bin
/backend/UrlShortnerAPI/bin
/backend/UrlShortnerAPI/obj
/backend/UrlShortnerAPI/UrlShortnerAPI/data
/.vs
