################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/UrlShortnerAPI/.vs
/backend/UrlShortnerAPI/BusinessLogic/bin/Debug/net8.0
/backend/UrlShortnerAPI/BusinessLogic/obj
/backend/UrlShortnerAPI/Data/bin/Debug/net8.0
/backend/UrlShortnerAPI/Data/obj
/backend/UrlShortnerAPI/Entities/bin/Debug/net8.0
/backend/UrlShortnerAPI/Entities/obj
/backend/UrlShortnerAPI/UrlShortnerAPI/bin/Debug/net8.0
/backend/UrlShortnerAPI/UrlShortnerAPI/obj
