version: '3.9'
services:
  backend:
    image: urlshortnerapi
    build:
      context: ./backend/UrlShortnerAPI   # <-- adjust if needed
      dockerfile: UrlShortnerAPI/Dockerfile
    environment:
      ApplyMigrations: "true"
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_HTTP_PORTS: 8080
      ConnectionStrings__DefaultConnection: "Data Source=/app/data/UrlShortner.db"
      ConnectionStrings__FrontEndUrl: "http://frontend:3000"
    ports:
      - "8080:8080"
    volumes:
      - sqlite-data:/app/data
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      CHOKIDAR_USEPOLLING: "true"
      BACKEND_URL: "http://backend:8080"
    volumes:
      - ./frontend/url-shortner:/app
      - /app/node_modules
    depends_on:
      - backend
volumes:
  sqlite-data: