services:
  backend:
    image: urlshortnerapi
    build:
      context: ./backend/UrlShortnerAPI
      dockerfile: UrlShortnerAPI/Dockerfile
    environment:
      ASPNETCORE_HTTP_PORTS: "8080"
      ConnectionStrings__FrontEndUrl: "http://frontend:3000"
    expose:
      - "8080"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      BACKEND_URL: "http://backend:8080"
    expose:
      - "3000"
