services:
  backend:
    environment:
      ApplyMigrations: "true"
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: "Data Source=/app/data/UrlShortner.db"
    ports:
      - "8080:8080"
    volumes:
      - sqlite-data:/app/data
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro

  frontend:
    environment:
      CHOKIDAR_USEPOLLING: "true"
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/url-shortner:/app
      - /app/node_modules

volumes:
  sqlite-data:
